<div class="container" >
        <mat-grid-list cols="1" rowHeight ="250px">
            <mat-grid-tile *ngIf="hoursEventsProperties.hoursEvents.length > 0">
                <app-hours class="container" [hoursEventsProperties]="hoursEventsProperties"></app-hours>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="expensesEvents.length > 0">
                <app-expenses class="container" [expensesEvents]="expensesEvents"></app-expenses>
            </mat-grid-tile>
            <mat-grid-tile *ngIf="additionalHoursEvents.length > 0">
                <app-additional-hours class="container" [additionalHoursEvents]="additionalHoursEvents">
                </app-additional-hours>
            </mat-grid-tile>
        </mat-grid-list>
    </div>