.calendar-date{
display:flex;
justify-content: flex-start;
}

.calendar-today{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

.clickable{
	cursor: pointer;
}