<mat-grid-list cols="7" rowHeight="200px">
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-day-slot></app-day-slot>
    </mat-grid-tile>
</mat-grid-list>