<div [ngClass]='["clickable", day.isWeekend ? "weekend" : ""]' (click)="onDaySelected(day)">
        <div>
                <div>{{ day.date | date:'EE' }}</div>
        </div>
        <div [ngClass]='getConditionalClasses(day)'>
                <div>{{ day.date | date:'d' }}</div>
        </div>
        <div *ngIf="day.hoursWorked > 0; else noTasks">

                <div>
                        <p>{{ day.date | date:'HH:mm' }}</p>
                </div>
                <span [ngClass]='getDayState(day)'></span>
        </div>
        <ng-template #noTasks>
                <span class="material-icons">horizontal_rule</span>
        </ng-template>
</div>